{% extends 'base.html.twig' %}

{% block title %}Liste des Chauffeurs{% endblock %}

{% block body %}
    <h1>Liste des Chauffeurs</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Photo</th>
            </tr>
        </thead>
        <tbody>
            {% for chauffeur in chauffeurs %}
            <tr>
                <td>{{ chauffeur.id }}</td>
                <td>{{ chauffeur.nom }}</td>
                <td>{{ chauffeur.prenom }}</td>
                <td>{{ chauffeur.email }}</td>
                <td>{{ chauffeur.telephone }}</td>
                <td>
                    {% if chauffeur.photo %}
                        <img src="{{ asset('uploads/photos/' ~ chauffeur.photo) }}" alt="Photo" width="100">
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
