{% extends 'base.html.twig' %}

{% block title %}Nouveau Contact{% endblock %}

{% block body %}
    <h1>Créer un nouveau contact</h1>
	<div class="container mt-70">
        {{ form_start(form) }}
            {{ form_row(form.address) }}
            {{ form_row(form.email) }}
            {{ form_row(form.phoneNumber) }}
            {{ form_row(form.addressSupplement) }}
            {{ form_row(form.info) }}
            {{ form_row(form.availability) }}
            <button class="btn">{{ button_label|default('Enregistrer') }}</button>
        {{ form_end(form) }}
    </div>    

    <a href="{{ path('contacts_index') }}">Retour à la liste</a>



    
{% endblock %}
