{% extends 'base.html.twig' %}

{% block title %}Liste des Voitures{% endblock %}

{% block body %}
    <h1>Liste des Voitures</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Marque</th>
                <th>Modèle</th>
                <th>Immatriculation</th>
                <th>Photo</th>
                <th>Chauffeur</th>
            </tr>
        </thead>
        <tbody>
            {% for voiture in voitures %}
            <tr>
                <td>{{ voiture.id }}</td>
                <td>{{ voiture.marque }}</td>
                <td>{{ voiture.modele }}</td>
                <td>{{ voiture.immatriculation }}</td>
                <td>
                    {% if voiture.photo %}
                        <img src="{{ asset('uploads/' ~ voiture.photo) }}" alt="Photo" width="100">
                    {% endif %}
                </td>
                <td>{{ voiture.chauffeur.nom }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
